data/
etc/
Include/
Lib/
Scripts/
share/
pyvenv.cfg
ntbks/.ipynb_checkpoints
.ipynb_checkpoints/
chat-gpt-journey.txt
ntbks/model.pkl
ntbks/features.pkl
ntbks/preprocess_bkp.ipynb
ntbks/pgsql.ipynb
README-old.md